In [2]:
print("halo")

halo

In [3]:
print("test")

test

In [4]:
print("data_science")

data_science

# 코딩테스트 연습

## 해시

### 1. 완주하지 못한 선수

In [23]:
participant = ['mislav', 'stanko', 'mislav', 'ana']
completion = ['stanko', 'ana', 'mislav']

In [60]:
participant = ['leo', 'kiki', 'eden']
completion = ['eden', 'kiki']

In [63]:
participant = ['marina', 'josipa', 'nikola', 'vinko', 'filipa']
completion = ['josipa', 'filipa', 'marina', 'nikola']

In [64]:
def solution(participant, completion): 
    participant.sort()
    print(participant)
    completion.sort()
    print(completion)
    
    for i, j in zip(participant, completion):
        if i != j:
            return(i)
    return participant[-1]

In [65]:
solution(participant, completion)

['filipa', 'josipa', 'marina', 'nikola', 'vinko']
['filipa', 'josipa', 'marina', 'nikola']

'vinko'

### 2. 전화번호 목록

In [70]:
len(phone_book[0])

3

In [147]:
phone_book = ['119', '97674223', '1195524421']

In [136]:
phone_book = ['123', '456', '789']

In [139]:
phone_book = ['12', '123', '1234', '567', '88']

In [140]:
def solution(phone_book):
    
    for i in phone_book:
        if i == phone_book[0]:
            ck = i
        elif i.startswith(ck):
            answer = False
            return answer
        else:
            answer = True
    return answer

In [148]:
def solution(phone_book):
    phone_book.sort()
    for i, j in zip(phone_book, phone_book[1:]):
        if j.startswith(i):
            return False
    return True

In [149]:
solution1(phone_book)

119   1195524421

False

### 3. 위장

In [ ]:
def solution(clothes):
    answer = 0
    return answer

## 정렬

### 1. K번째 수

In [248]:
array = [1, 5, 2, 6, 3, 7, 4]
commands = [[2, 5, 3], [4, 4, 1], [1, 7, 3]]

In [170]:
array[1:5]

[5, 2, 6, 3]

In [171]:
a = array[1:5]
a.sort()
a

[2, 3, 5, 6]

In [172]:
a[2]

5

In [246]:
def solution(array, commands):
    answer = []
    
    for i in commands:
        print(i[0], i[1], i[2])
        a = array[i[0] - 1 : i[1]]
        a.sort()
        print(a)

        answer.append(a[i[2] - 1])
    print(answer)

In [249]:
def solution(array, commands):
    answer = []
    
    for i in commands:
        a = array[i[0] - 1 : i[1]]
        a.sort()
        answer.append(a[i[2] - 1])
    return answer

In [250]:
solution(array, commands)

[5, 6, 3]

In [ ]:
def solution(array, commands):
    return list(map(lambda x:sorted(array[x[0]-1:x[1]])[x[2]-1], commands))

### 2. 가장 큰 수

lambda()
g = lambda x:x**2
g(8)을 프린트 해주면 64가 나옵니다. 람다는 요런식으로 써줍니다.

map()
람다 함수의 장점은 map()함수와 함께 사용될 때 볼 수 있습니다.<br>
map()은 두개의 인수를 가지는 함수입니다.<br>
map(str, numbers)를 해주면 numbers안의 모든 요소들을 str함수를 통해 string형태로 바꿔줍니다.

set()
집합 자료형; list에서 중복을 빼고 출력해주는 함수

In [321]:
numbers = [0, 0, 0]

In [334]:
numbers = [3, 30, 34, 5, 9]

In [330]:
def solution(numbers):
    numbers = list(map(str, numbers))
    numbers.sort(key = lambda x : x * 3, reverse = True)
    if sum(list(map(int, numbers))) == 0:
        numbers = list(set(numbers))
    return "".join(numbers)

In [336]:
def solution(numbers):
    numbers = list(map(str, numbers))
    numbers.sort(key = lambda x : x * 3, reverse = True)

    return str(int("".join(numbers)))

In [337]:
solution(numbers)

'9534330'

# 코딩테스트

## 프로그래밍 1

In [66]:
import numpy as np

In [89]:
a = np.array([[1, 2, 3],
             [4, 5, 6],
             [7, 8, 9],
             [11, 0, 11]])

In [91]:
np.argwhere(a == 2)

array([[0, 1]])

In [94]:
first = np.argwhere(a == 5)
two = np.argwhere(a == 3)
np.linalg.norm(first - two)

1.4142135623730951

In [93]:
first = np.argwhere(a == 5)
two = np.argwhere(a == 4)
np.linalg.norm(first - two)

1.0

In [215]:
numbers = [2, 5, 0, 2, 8, 3, 1, 5, 7, 6, 2]
hands = 'left'

In [218]:
answer = []

left = [1, 4, 7, 11]
right = [3, 6, 9, 12]

phone = np.array([[1, 2, 3],
                  [4, 5, 6],
                  [7, 8, 9],
                  [11, 0, 12]])

def dist(i, l):
    input_key = np.argwhere(phone == i)
    location = np.argwhere(phone == l)  
    return abs(np.linalg.norm(input_key - location))

current_l = 11
current_r = 12

for i in numbers:    
    if i in left:
        print('numbers : ', i, ' L')
        current_l = i
        answer.append('L')
    elif i in right:
        print('numbers : ', i, ' R')
        current_r = i
        answer.append('R')
    else:
        if dist(i, current_l) < dist(i, current_r):
            print('numbers : ', i, ' L')
            current_l = i
            answer.append('L')
        elif dist(i, current_l) == dist(i, current_r):
            if hands == 'right':
                print('numbers : ', i, ' R')
                current_r = i
                answer.append('R')
            else:
                print('numbers : ', i, ' L')
                current_l = i
                answer.append('L')
        else:
            print('numbers : ', i, ' R')
            current_r = i
            answer.append('R')
            
print("".join(answer))

numbers :  2  L
numbers :  5  L
numbers :  0  R
numbers :  2  L
numbers :  8  R
numbers :  3  R
numbers :  1  L
numbers :  5  L
numbers :  7  L
numbers :  6  R
numbers :  2  R
LLRLRRLLLRR

## 프로그래밍 2

In [143]:
expression = '100-200*300-500+20'

In [139]:
100-200*300-500+20

-60380

In [148]:
if '*' in expression:
    print(expression.find('*'))

7

## 프로그래밍 3

In [168]:
gems1 = ["DIA", "RUBY", "RUBY", "DIA", "DIA", "EMERALD", "SAPPHIRE", "DIA"]
gems2 = ["AA", "AB", "AC", "AA", "AC"]
gems3 = ["XYZ", "XYZ", "XYZ"]
gems4 = ["ZZZ", "YYY", "NNNN", "YYY", "BBB"]

In [169]:
gems_buy1 = set(gems1)
gems_buy1

{'DIA', 'EMERALD', 'RUBY', 'SAPPHIRE'}

In [170]:
gems_buy2 = set(gems2)
gems_buy2

{'AA', 'AB', 'AC'}

In [171]:
gems_buy3 = set(gems3)
gems_buy3

{'XYZ'}

In [172]:
gems_buy4 = set(gems4)
gems_buy4

{'BBB', 'NNNN', 'YYY', 'ZZZ'}

In [182]:
gems1 = ["DIA", "RUBY", "RUBY", "DIA", "DIA", "EMERALD", "SAPPHIRE", "DIA"]

In [186]:
gems_buy1

{'DIA', 'EMERALD', 'RUBY', 'SAPPHIRE'}

In [191]:
for i in enumerate(gems1):
    print(i)

(0, 'DIA')
(1, 'RUBY')
(2, 'RUBY')
(3, 'DIA')
(4, 'DIA')
(5, 'EMERALD')
(6, 'SAPPHIRE')
(7, 'DIA')